.footer-color {
    background-color: #333333;
    padding-top: 100px;
    padding-bottom: 130px;
}

.terms {
    font-size: 0;
}

.footer-color a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    align-items: center;
}

.distant {
    margin-right: 50px;
}



.footer-img {
    align-items: center;
}

.vk {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.insta {
    width: 25px;
    height: 25px;
}