.main-color {
    background-color: #F9F9F9;
    padding-top: 75px;
    padding-bottom: 100px;
}

.main-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #BDBDBD;
}

.main-catalog {
    margin-right: 15px;
}

.main-mix {
    background-image: url(../img/dot.svg);
    background-repeat: no-repeat;
   padding-left: 20px;
    background-position: left;
}

.main-marg {
    margin-bottom: 30px;
}

.back {
    display: block;
    background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    background-position: left;
    font-weight: 500;
    padding-left: 22px;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 45px;
}

/* cards */

.cards-size {
width: 315px;
background-color: #F9F9F9;
border: 1px solid #E5E5E5;
box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
border-radius: 20px;
padding: 20px 20px 40px 20px;
margin-bottom: 45px;
position: relative;
}


.img-birds {
    background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    width: 275px;
    height: 227px;
    background-image: url(../img/mixfood.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;

}

.cards-name {
font-weight: 600;
font-size: 24px;
line-height: 130%;
color: #333333;
}

.cards-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
    margin-bottom: 25px;
}

.cards-cash {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 25px;
}

.gramm-tik {
    display: none;
  }
  .gramm-tik + label{
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
  }
  .gramm-tik:checked + label{
    border: 1px solid #3ECF5E;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
 

  .form-marg {
    margin-bottom: 25px;
  }

  .more {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 161px;
    height: 45px;
    background-color: #3FCF5E;
    border: 1px solid rgba(5, 175, 52, 0.53);
    border-radius: 10px;
    padding: 12px 32px;
  }

  .buttom-gramm{
    width: 45px;
    height: 45px;
    background-image: url(../img/Buy.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    background-color: #F9F9F9;;
    

  }

  /*
  .gramm-tik:checked + label ~  .buttom-gramm
    {
    pointer-events: auto;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #eb1111;;
  }
  */

  .location-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .new {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 89px;
    height: 35px;
    background-color: #333333;
    border-radius: 10px;
    padding: 9px 15px;
    position: absolute;
    bottom: 92%;
    left: 68%;
  }

  /* pages */

 .pages-size {
    width: 155px;
    height: 21px;
    align-items: center;
    margin-left: 588px;
 } 



 .pages-size a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
 }

 .pages-size a:nth-child(2) {
color: #219653;
 }


 .left {
    width: 5px;
    height: 10px;
    background-image: url(../img/left.svg);
    background-repeat: no-repeat;
    background-position: center;
 }

 .right {
    width: 5px;
    height: 10px;
    background-image: url(../img/right.svg);
    background-repeat: no-repeat;
    background-position: center;
 }

 .pages-size a:hover {
    color: #219653;
 }



